{% extends 'base.html' %}
{% block title %}
Help Page
{% endblock %}
{% block navbar %}

<ul>
			<li>
				<a href="{{ url_for( 'main_page' ) }}">
					<button class="normal-btn"> Home </button>
				</a>
			</li>
			<li>
				<a href="{{ url_for( 'predict_page' ) }}">
					<button class="normal-btn"> Predict </button>
				</a>
			</li>
			<li>
				<a href="{{ url_for( 'model_page' ) }}">
					<button class="normal-btn"> Model </button>
				</a>
			</li>
			<li>
				<a href="{{ url_for( 'database_page' ) }}">
					<button class="normal-btn"> Database </button>
				</a>
			</li>
			<li>
				<a href="{{ url_for( 'help_page' ) }}">
					<button class="normal-btn2"> Help </button>
				</a>
			</li>
		</ul>
		<ul style="float: right">
			<li >
				</h1><a href="{{ url_for( 'logout_page' ) }}">
					<button class="normal-btn"> Logout </button>
				</a>
			</li>
		</ul>


{% endblock %}
{% block content %}
<div class="page-body2 dark2" style="box-sizing: border-box; justify-content:center;">
<section style="width:90%" class="help1">
		{{ information|safe }}
</section>
</div>
{% endblock %}