<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ML Mould Predictor</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" /> </head>
<div>
	<section class="Banner center dark1">
		<h1>MOULD PARAMETER PREDICTOR</h1> via Machine Learning and Artificial Neural Networks
		<p>Copyright © 2021 Joel Kundu</p>
<h6>This program is free software: you can redistribute it and/or modify<br>
it under the terms of the GNU General Public License as published by<br>
the Free Software Foundation, either version 3 of the License, or<br>
(at your option) any later version.</h6>
<h6>This program is distributed in the hope that it will be useful,<br>
but WITHOUT ANY WARRANTY; without even the implied warranty of<br>
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the<br>
GNU General Public License for more details.</h6>
<h6>You should have received a copy of the GNU General Public License along with this program.<br>  If not, see <a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>.</h6>
<h4 id="contact">Contact</h4>
<h6>The author can be contacted via the following emails:<br>
<a href="mailto:f20171399@hyderabad.bits-pilani.ac.in">f20171399@hyderabad.bits-pilani.ac.in</a><br>
<a href="mailto:jdevcode02@gmail.com">jdevcode02@gmail.com</a>
	</h6>

		<br>
		<br>
		<a href="{{ url_for( 'main_page' ) }}">
			<button class="normal-btn" style="width: 512px"> START </button>
		</a>
		<br>
		<br> </section>
</div>
</body>

</html>